/*Media Queries for generic devices*/


@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape){
	/*
	Add smartphone css here
	*/
}

@media only screen and (min-device-width:1224px){

	/*
	*	ADD YOUR Desktop and Laptop CSS HERE
	*/
}

@media only screen and (min-device-width:1824px){

	/*
	*	ADD YOUR Desktop and Laptop CSS HERE
	*/

}
/* 


****************   Apple Devices  *****************


*/
@media only screen and (min-device-width:768px) and (max-device-width:1024px){
	/*
	* 			ADD IPAD CSS HERE (Both Portrait and landscape)
	*/
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){

	/*
	*		ADD IPAD CSS HERE (LANDSCAPE ONLY)
	*/

	#logo{
	display:inline;
	max-width: 100%;
	margin-left:50px;
	margin-top:100px;

}

#nav{
	margin-right:300px;
	list-style:none; 
	padding:0; 
	display:inline-block;



} 
#nav li{
	display:inline-block;
	font-family: "Century Gothic", sans-serif;
	margin-top:30px;

}

#nav li a{
	display:block;
	font-size:24px;
	background:none; 
	padding:6px 12px; 
	color:white; 
	text-decoration:none; 
	border-bottom:1px solid transparent;
}
li.active {
	border-bottom: 1px solid #fff;
}
#nav > li:hover > a{
	background:#000; 
	border-bottom:1px solid #777;
}

#nav ul{
	display:none;
	position:absolute; 
	list-style:none; 
	z-index:10; 
	background:#444; 
	color:white; 
	margin:0px; padding:3px 0px;
	    -moz-box-shadow: 0px 0px 6px #777; 
  		-webkit-box-shadow: 0px 0px 6px #777; 
        box-shadow: 0px 0px 6px #777;
}
#nav ul li{float:left; clear:both; min-width:150px;}
#nav ul a{
	font-size:18px;
	white-space:nowrap;
	display:block;
}
#nav ul li:hover > a{background:#404040;}

#main-bg{
	width: 100%;
	height: 100%;
	margin-top:50px;

}
#main-bg img{
	opacity: 0.2;
	filter: alpha(opacity=20); /*Fix for IE8 and earlier*/
}
div > p{
	loat:left;
	margin-left: 50px;
	margin-bottom: 200px;
}
footer > p{
	float:left;
	color:#fff;
	font-size: 12px;
	float:left;
	clear:both;
	margin-left: 25px;
}

/*Gallery CSS*/

.placehold1{
	width: 245px;
	height:120px;
	background-color:#e2e2e2;
	border: 10px solid #e2e2e2;
	float:left;
	margin-left:40px;
	margin-top:50px;
	clear:none;
	overflow:hidden;
}
.placehold2{
	width: 620px;
	height:240px;
	background-color:#e2e2e2;
	border: 10px solid #e2e2e2;
	float:left;
	margin-left:120px;
	margin-top:25px;
	overflow:hidden;

}
.placehold3{
	width:390px;
	height:390px;
	background-color:#e2e2e2;
	border: 10px solid #e2e2e2;
	float:right;
	margin-top:50px;
	margin-right:300px;
	clear:right;
	overflow:hidden;
}
.placehold4{
	width: 390px;
	height:310px;
	background-color:#e2e2e2;
	border: 10px solid #e2e2e2;
	float:right;
	margin-top:25px;
	margin-right:300px;
	margin-bottom:100px;
	clear:none;
	overflow:hidden;
}
#place-hold5{
	margin-left:120px;
}
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){

	/*
	*		ADD IPAD CSS HERE (PORTRAIT ONLY)
	*/
}

@media only screen and (min-device-width:320px) and (max-device-width:568px){
	/*
	*		ADD IPHONE 5 CSS HERE (BOTH PORTRAIT AND LANDSCAPE)
	*/
}
@media only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:landscape){
	/*
	*		ADD IPHONE 5 CSS HERE (LANDSCAPE)
	*/
}

@media only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:portrait){
	/*
	*		ADD IPHONE 5 CSS HERE (PORTRAIT)
	*/
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { 
	/*
	*	ADD YOUR iPhone CSS HERE
	*/
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) { 
	/*
	*	ADD YOUR iPhone CSS HERE
	*/
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) { 
	/*
	*	ADD YOUR iPhone CSS HERE
	*/
}



